body{
    background-color: #0b101f;
    margin: 0;
    padding: 0;
    max-height: 100vh;
}

#app{
    display: flex;
    flex-direction: row;
    align-items: start;
    background-color: #0b101f;
}

/* Style pour la partie haute de l'application */
header {
    background-color: #0b101f;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Style pour le titre */
h1 {
    margin: 0;
    margin-left: 5px;
    font-family: 'Zen Dots';font-size: 32px;
}

.header-image {
    width: 350px;
    height: auto;
    margin-right: 10px;
}

/* Style du bouton retour à la page de la carte */
.return-button {
    background-color: #dc3545;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

.return-button:hover {
    background-color: #c82333;
}

/* BOUTON 3D*/
#cesiumContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}