#app{
    display: flex;
    align-items: start;
    background-color: antiquewhite;
}

.barre_laterale{
    
    grid-column: 1;
    align-self: start;
    height: 100vh;
    width: 400px;
}

#Lumi {
    margin: 20px;
}

.btn-group {
    margin: 20px;
}

.carte {
    grid-column: 2;
    display: grid;
    grid-template-rows: 650px 1fr;
    height: 100%;
    width: 100%;
}

.curseur-date {
    grid-row: 2;
    width: 100%;
    text-align: center;
}

#dateSlider {
    width: 80%;
}

#cesiumContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}
body, html {
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}