/*page*/
body{
    margin: 0;
    padding: 0;
 
}

/*BANDEAU HEADER*/
/*safelane*/
header {
    background-color: #333; 
    color: #fff; 
    padding: 10px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

h1 {
    margin: 0;
    margin-left: 5px;
    font-family: 'Zen Dots';
    font-size: 32px;
}

.header-image {
    width: 90%;
    height: auto;
    margin-left: -10px;
}

.bouton-info {
    width: 25%;
    height: auto;
}

ul {
    text-align: left;
    padding-left: 0;
    list-style-type: none;
}

ul li {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1001;
    padding-top: 100px;
}
.popup-content {
    background-color: #fff;
    color: black;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    position: relative;
}

.close {
    cursor: pointer;
    position: absolute;
    top: -10px;
    right: -10px;
    background: #DC3545;
    color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

#research_bar {
    position:absolute;
    top: 25px; 
    left: 75px;
    margin-left: 5px;
    align-items: center; 
    z-index: 1000;
}

#research_input[type="text"] {
    align-items: center;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 16px;
}


/*CARTE*/

#app{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    
}

.carte {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; 
}

/*statistique*/


#image-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-overlay img {
    max-width: 100%;
    max-height: 60vh;
    width: auto;
    height: auto;
}

.close-button {
    cursor: pointer;
    position: absolute;
    top: -10px;
    right: -10px;
    background: #DC3545;
    color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}


/* BOUTON 3D*/
#cesiumContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

/*GESTION TEMPORALITE*/
/*curseur temporel*/
.curseur-date {
    position: absolute;
    bottom: 10px;
    width: 90%;
    text-align: center;
    z-index: 1000;
    left: 50%; 
    transform: translateX(-50%);
}

#dateSlider {
    width: 100%; 
    bottom : 10px;
    margin-bottom: 10px;
    z-index: 1000;
    border-radius: 10px;
}

/*point du curseur tentative logo*/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    background: #0056b3;
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 50px; /* Largeur de l'image */
    height: 50px; /* Hauteur de l'image */
    background: url('../assets/images/icon_safelane.png') center center no-repeat; 
    background-size: contain;
    cursor: pointer;
    border: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 50px; /* Largeur de l'image */
    height: 50px; /* Hauteur de l'image */
    background: url('../assets/images/icon_safelane.png') center center no-repeat; 
    background-size: contain;
    cursor: pointer;
    border: none;
}

/*date séléctionée*/
#date{
    margin:auto;
    font-size: 16px;
    color: #0E0E29;
    padding: 10px;
    border-radius: 5px;
    width:20%;
    background-color:rgba(255, 255, 255, 0.5);
}

/*GESTION TEMPORALITE*/

/*curseur temporel*/
.curseur-date {
    position: absolute;
    bottom: 10px;
    width: 90%;
    text-align: center;
    z-index: 1000;
    left: 50%; 
    transform: translateX(-50%);
}

#dateSlider {
    width: 100%; 
    bottom : 10px;
    margin-bottom: 10px;
    z-index: 1000;
    border-radius: 10px;
}

/*point du curseur tentative logo*/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    background: rgba(73, 109, 160, 1);
}

input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 50px; /* Largeur de l'image */
    height: 50px; /* Hauteur de l'image */
    background: url('../assets/images/safelane.png') center center no-repeat; 
    background-size: contain;
    cursor: pointer;
    border: none;
}

/*date séléctionée*/
#date{
    margin:auto;
    font-size: 16px;
    color: #0E0E29;
    padding: 10px;
    border-radius: 5px;
    width:20%;
    background-color:rgba(255, 255, 255, 0.5);
}


/*checkbox*/
.checkbox-date {
    position: absolute;
    bottom: 15px; 
    left: 10px; 
    z-index: 1000; 
    background-color: white; 
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/*eclaircie quand inactif*/
.anDesactive {
    color: #6c757d;
}



/*BANDEAU LATERAL*/
/*.btn-close{
    position: absolute;
    top: 10px; /* Ajustez selon vos besoins 
    right: 10px;
}*/
.offcanvas-header{
    height: 10%;
}

.menu-lateral{
    display: flex;
    flex-direction: column;
    background-color: #333;
    overflow-y: auto;
    padding:20px;
    
}

.btn-group{
    width: 50%;
    margin-bottom: 5px;
    flex-wrap: wrap;
}

#plan{
    width:50%;
}
/*gestion des caractéristiques*/

/*checkbox*/
.checkbox-date {
    position: absolute;
    bottom: 15px; 
    left: 10px; 
    z-index: 1000; 
    background-color: white; 
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/*eclaircie quand inactif*/
.anDesactive {
    color: #6c757d;
}

/*BANDEAU LATERAL*/
.offcanvas-header{
    height: 10%;
}


.navbar-dark{
    top: 15px; 
    left: 5px;
    position:absolute;
    z-index:1000;
}

.navbar-toggler {
    color: #030257; /* Choisissez votre couleur préférée */
    background-color: rgb(35, 115, 140); /* Couleur de fond du bouton */
    border-color: blue; /* Couleur de la bordure du bouton */
}

#offcanvasDarkNavbar {
    width: 30%; 
}

.menu-lateral{
    display: flex;
    flex-direction: column;
    background-color: #333;
    overflow-y: auto;
    padding:20px;
    height: 100%; 
    z-index: 1000;
    
}

.btn-group{
    width: 50%;
    margin-bottom: 5px;
}

#plan{
    width:50%;
}

/*gestion des caractéristiques*/
.form-switch img {
    height: 40px; /* Hauteur de l'image */
    width: auto; /* Largeur automatique pour conserver les proportions */
    margin-right: 10px; /* Marge à droite pour séparer l'image du texte */
}

.form-switch {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-switch input[type="checkbox"] {
    margin-left: 10px;
}

.form-switch .gauche {
    margin-right: 10px;
}

.form-switch .droite {
    margin-left: auto; 
}

.dropdown-menu {
    min-width: auto !important;   
    width: max-content !important;
    z-index :1000;
}

.dropdown-item {
    cursor: pointer;
}

/* eclaircie bouton plan velo*/
.clique {
    opacity: 0.5;
}

/*legende*/
.legend{
    top: 10px;
    right: 10px;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1000;
}

.legend-color {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

#legend{
    margin-top: 10px;
    padding-top: 10px;
}

/* Styles CSS pour les images de légende */
.legend-img {
    width: 30px;
    height: 30px;
    margin-right: 5px; /* Espace entre l'image et le texte */
}

#legendAcci {
    margin-top: 20px;
}

/*bouton fonds de carte*/
#titre-carte, #titre-pistes{
    border-top: 2px solid #ccc; /* Ligne de séparation */
    margin-top: 25px;
    padding-top: 25px;
}

.button-container-fond {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

.map-button {
    position: relative;
    border: none;
    background-color: #f0f0f0;
    padding: 0;
    width: 90px; /* Largeur fixe pour chaque bouton */
    height: 90px; /* Hauteur fixe pour chaque bouton */
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 20px; /* Espacement entre chaque bouton (à droite) */
}

.map-button:last-child {
    margin-right: 0; /* Aucun espacement à droite pour le dernier bouton */
}

.map-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.button-label {
    position: absolute;
    bottom: 10px; /* Ajustez cette valeur pour le positionnement vertical */
    left: 0;
    right: 0;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.button-label-sat {
    position: absolute;
    bottom: 10px; /* Ajustez cette valeur pour le positionnement vertical */
    left: 0;
    right: 0;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.play {
    position: absolute;
    bottom: 56px; 
    left: 10px; 
    z-index: 1000; 
    background-color: #007bff;
    border: 2px solid #007bff;
    border-radius: 20px;
    padding: 5px px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    z-index:1000; 
}

.play:hover {
    background-color: #0056b3;
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.stop {
    position: absolute;
    bottom: 56px; 
    left: 10px; 
    z-index: 1000; 
    background-color: #eb3d3d;
    border: 2px solid #eb3d3d;
    border-radius: 20px;
    padding: 5px px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.stop:hover {
    background-color: #c60d0d;
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

img {
    width: 24px;
    height: 24px;
    pointer-events: none;
}

.meteo-decale-vers-le-bas {
    margin-top: 220px; /* Ajustez la valeur de la marge selon vos besoins */
    transition: margin-top 0.3s ease; /* Ajoute une transition fluide */
}

.carac-decale-vers-le-bas {
    margin-top: 380px; /* Ajustez la valeur de la marge selon vos besoins */
    transition: margin-top 0.3s ease; /* Ajoute une transition fluide */
}